.fullWidthSection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 5vw;
  padding-left: 5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wTabs {
  position: relative; 
  width: 100%;
}

.homeTabsContent {
  top: 6.250vw;
  overflow: visible;
}
.wTabContent {
  position: relative;
  display: block;
  overflow: hidden;
}

.heroTextWrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 7vw;
  margin-bottom: 7.5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 52vw;
  perspective: 52vw;
}

.coloredGradientH1 {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(141deg, #adf1e0, #8075ff 28%, #ff7171 98%);
  font-size: 3.65vw;
  text-align: center;
  letter-spacing: -0.065vw;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.locationWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.625vw;
  margin-bottom: 1.667vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.locationIcon {
  margin-right: 0.313vw;
  margin-left: -0.469vw;
}

.strongText {
  max-width: 26.042vw;
  margin-bottom: 0px;
  color: #5e5e63;
  font-size: 0.9vw;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.005em;
}

.heroCenteredParagraph {
  max-width: 29.167vw;
  color: #5e5e63;
  line-height: 150%;
  text-align: center;

}

.projectCard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 70%;
  height: 440px;
  margin-left: 15%;
  margin-bottom: 96px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 64px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 24px;
  background-color: #eceff1;
  box-shadow: none;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  cursor: pointer;
}

.projectCard:hover {
  background-color: #f6f6f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05); 
}


.wInlineBlock {
  max-width: 100%;
  display: inline-block;
}

.vStack {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  float: left;
}

.vSpace {
  width: 10%;
  height: 32px;
}

.vSpaceSmall {
  width: 10%;
  height: 16px;
}

.hStack {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.smallCapsSubtitle {
  margin-bottom: 0px;
  color: #5e5e63;
  font-size: 14px;
  line-height: 160%;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.smallCapsSubtitleLight {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 160%;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #bdbdc5;
}

.hSpace8px {
  width: 8px;
  height: 100%;
}

.primaryButton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: none;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #323235;
  margin-top: 20%;
}

.primaryButton:hover {
  background-color: rgb(246, 246, 246);
}

.primaryButton:hover .buttonIcon{
  transform: translate(0.3vw); 
}

.buttonText {
  background-image: linear-gradient(107deg, #74747a, #323235);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: rgb(255, 255, 255);
  
}

.buttonIcon {
  will-change: transform;
  margin-left: 9px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.projectPreviewImage {
  position: relative;
  right: -12px;
  bottom: -40px;
  z-index: 0;
  height: 400px;
  max-width: 480px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  border-radius: 16px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 60% 100%;
  object-position: 60% 100%;
}